<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <main class="container">
      <div class="content">
        <p class="title">Bingo con Andrés 2</p>
        <table>
          <tr>
            <td>3</td>
            <td></td>
            <td>7</td>
            <td></td>
            <td>12</td>
            <td>18</td>
            <td></td>
            <td></td>
            <td>22</td>
          </tr>
          <tr>
            <td>25</td>
            <td>38</td>
            <td></td>
            <td>41</td>
            <td></td>
            <td>44</td>
            <td></td>
            <td>52</td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>57</td>
            <td>64</td>
            <td></td>
            <td>73</td>
            <td></td>
            <td>76</td>
            <td>89</td>
            <td></td>
          </tr>
        </table>
      </div>
      <div class="footer">
        <span class="footer-left">
          <span>Síguenos :D</span>
          <span class="link">@defcUGR</span>
        </span>
        <a class="footer-center"><img src="defc.svg" /></a>
        <span class="footer-right">
          <span>¡Únete!</span>
          <span class="link">defc.ugr.es/unete</span>
        </span>
      </div>
    </main>
  </body>
</html>
