table, th, td {
    border: 0.5mm solid black;
}
html {
    background-color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20pt;
    border: 0.1mm solid black;
    width: 10cm;
    height: 5cm;
}
body {
    margin: 0;
}
.content {
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.title {
    font-family: 'Font Brush';
    font-size: 18pt;
    margin: 0.1em;
}
table {
    margin: auto;
    border-collapse: collapse;
    aspect-ratio: 3;
    width: 9.5cm;
    background-color: #3EB1C8;
}
td {
    text-align: center;
    min-width: 9mm;
}
td:not(:empty) {
    background-color: #FFFFFF;
}
.footer {
    display: flex;
    font-size: 8pt;
    margin: 0.35em;
    margin-bottom: 0;
    margin-left: 3mm;
    margin-right: 3mm;
    justify-content: space-between;
    align-items: center;

}
img {
    max-height: 5mm;
}
.link {
    color: #244C5A;
}